<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schoolmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SchoolManagementSystem"
        tools:targetApi="31">

        <!-- Student and Teacher related activities -->
        <activity android:name=".GroupMessageActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".AssignmentsActivity" android:exported="false" />
        <activity android:name=".ScheduleActivity" android:exported="false" />
        <activity android:name=".SubmitAssignmentActivity" android:exported="false" />
        <activity android:name=".AddSubjectActivity" />
        <activity android:name=".ClassScheduleActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".AssignmentViewActivity" />
        <activity android:name=".CommunicateActivity" />
         <activity android:name=".AttendanceActivity" android:exported="true" />
        <activity android:name=".GradeInputActivity" />
        <activity android:name=".StudentListActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".TeacherActivity" android:exported="true" />
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".TeacherLoginActivity" android:exported="true" />
        <activity android:name=".GradesActivity" android:exported="false" />
        <activity android:name=".TeacherScheduleActivity"
            android:exported="false" />

        <!-- Admin related activities -->
        <activity android:name=".AdminLoginActivity" android:exported="true" />
        <activity android:name=".AdminDashboardActivity" android:exported="true" />
        <activity android:name=".TeacherListActivity" android:exported="true" />
        <!-- Launcher -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
